html, body, #root, .App {
  height: 100%;
}

.ScrollbarSlider {
  text-align: center;
  width: 100%;
  height: 300px;
  position: relative;
  margin: auto;
  background-color: darkseagreen;
  top: 5%;
  transform: translateY(-5%);
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
}

.ButtonSlider {
  text-align: center;
  width: 100%;
  height: 300px;
  position: relative;
  margin: auto;
  background-color: bisque;
  top: 15%;
  transform: translateY(-15%);
  display: flex;
  overflow: hidden;
  scroll-behavior: smooth;
}

.buttonDiv {
  position: relative;
  text-align: center;
  top: 12%;
}

.buttonDiv button {
  margin-left: 20px;
  margin-right: 20px;
  height: 30px;
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 10px;
  border: none;
  background-color: bisque;
  font-weight: bold;
}


img {
  height: 250px;
  margin: 20px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
